@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
  }
  nav ul li a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .active{
    background-color:red;
  }
  h1{
   background-color: blueviolet;
   text-align: center; 
  }
  body{
    background-color: thistle;
  }
  /*pagina 1*/
  .index{
    width: 600px;
    height:fit-content;
    padding-top: 1px;
    margin: 20px auto;
  }/*bordes*/
  .index>nav{
    width: 580px;
    height: 255px;
    margin: 15px 10px;
    border: solid;
    padding-top: 1px;
    padding-left: 5px;
    border-color: black;
    background-color: transparent;
  }
  .index>nav>article{
    width: 275px;
    height: 240px;
    margin: 4px 5px 5px 0px;    
    border: solid;
    border-color: black;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
  }/*bandera canada*/
  .canada{
    width: 255px;
    height: 200px;
    margin: 20px auto auto auto;
    background-color: white;
  }
  .index>nav>article>.canada>nav{
    width: 59.5px;
    height: 200px;
    margin: 0px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
  }
  .index>nav>article>.canada>section{
    width: 128px;
    height: 200px;
    margin: 0px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    
  }
  .index>nav>article>.canada>section>img{
    width: 125px;
    height: 130px;
    margin: 40px 0px 40px 0px;
     }
  .index>nav>article>.canada>h1{
    background-color: transparent;
    text-align: center;
    font-size: 17px;
  }
  /*bandera argentina*/
  .argentina{
    width: 255px;
    height: 200px;
    margin: 20px auto auto auto;
  }
  .index>nav>article>.argentina>aside{
    width: 255px;
    height: 67px;
    margin: 0px;
    background-color:lightblue;
  }
  .index>nav>article>.argentina>section{
    width: 255px;
    height: 67px;
    margin: 0px;
    background-color:white;
  }
  .index>nav>article>.argentina>section>img{
    width: 66px;
    height: 66px;
  }
  .index>nav>article>.argentina>h1{
    background-color: transparent;
    text-align: center;
    font-size: 17px;}
  /*bandera corea norte*/
  .coreanorte{
    width: 255px;
    height: 200px;
    margin: 20px auto auto auto;
  }
  .index>nav>article>.coreanorte>nav{
    width: 255px;
    height: 35px;
    margin: 0px;
    background-color:blue;
  }
  .index>nav>article>.coreanorte>div{
    width: 255px;
    height: 120px;
    margin: 0px;
    background-color:red;
    padding-top: 1px; 
  }
  .index>nav>article>.coreanorte>div>footer{
    width: 100px;
    height: 100px;
    margin: 10px 5px 20px 45px;
    background-color:white;
    border-radius: 50%;
  }
  .index>nav>article>.coreanorte>div>footer>img{
    width: 90px;
    height: 90px;
  }
  .index>nav>article>.coreanorte>section{
    width: 255px;
    height: 5px;
    margin: 0px;
    background-color:white;
  }
  .index>nav>article>.coreanorte>h1{
    background-color: transparent;
    text-align: center;
    font-size: 17px;}
  /*bandera Colombia*/
  .colombia{
    width: 255px;
    height: 200px;
    margin: 20px auto auto auto;
  }
  .index>nav>article>.colombia>footer{
    width: 255px;
    height: 80px;
    margin: 0px;
    background-color:yellow;
  }
  .index>nav>article>.colombia>nav{
    width: 255px;
    height: 60px;
    margin: 0px;
    background-color:blue;
  }
  .index>nav>article>.colombia>section{
    width: 255px;
    height: 60px;
    margin: 0px;
    background-color:red;
  }
  .index>nav>article>.colombia>h1{
    background-color: transparent;
    text-align: center;
    font-size: 17px;}
  /*bandera egipto*/
  .egipto{
    width: 255px;
    height: 200px;
    margin: 20px auto auto auto;
  }
  .index>nav>article>.egipto>article{
    width: 255px;
    height: 66px;
    margin: 0px;
    background-color:red;
  }
  .index>nav>article>.egipto>nav{
    width: 255px;
    height: 67px;
    margin: 0px;
    background-color:white;
    padding-top: 1px;
  }
  .index>nav>article>.egipto>nav>img{
    width: 55px;
    height: 55px;
    margin: 7px auto;
  }
  .index>nav>article>.egipto>div{
    width: 255px;
    height: 67px;
    margin: 0px;
    background-color:black;
  }
  .index>nav>article>.egipto>h1{
    background-color: transparent;
    text-align: center;
    font-size: 17px;}
  /*bandera españa*/
  .españa{
    width: 255px;
    height: 200px;
    margin: 20px auto auto auto;
  }
  .index>nav>article>.españa>section{
    width: 255px;
    height: 50px;
    margin: 0px;
    background-color:red;
  }
  .index>nav>article>.españa>footer{
    width: 255px;
    height: 100px;
    margin: 0px;
    background-color:yellow;
  }
  .index>nav>article>.españa>footer>img{
    width: 90px;
    height: 90px;
    margin:5px auto;
  }
  .index>nav>article>.españa>h1{
    background-color: transparent;
    text-align: center;
    font-size: 17px;}